<div  class="side">    
    <!-- <p>sidebar works!</p> -->
    <a href=""><img id="logo" src="../assets/logo.png" alt="Company Logo"></a>
    <ul>
        <div class="row links">
            <li><a href=""><i class="fa fa-home"></i> Home</a></li>

        </div>
        <div class="row links">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>

        </div>
        <div class="row links">
        <li><a routerLink="register"><i class="fa fa-users"></i> Sign Up</a></li>

        </div>
        <div class="row links">
        <li><a routerLink="login"><i class="fa fa-users"></i> Sign In</a></li>

        </div>
    </ul>

</div>