<div class="register">
    <!-- <p>register works!</p> -->
<form action="">
    <div class="form-group">
        <label for="">Username</label>
        <input class="form-control" type="text" placeholder="Your username">
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input class="form-control" type="text" placeholder="Email address"><br>
    </div>

    <div class="form-group">
        <label for="">Telephone Number</label>
        <input class="form-control" type="number" placeholder="Telephone number"><br>
    </div>

    <div class="form-group">
     <button class="btn btn-success">Register</button>
    </div>
</form>
</div>
